@model AdvertisementAppUserCreateModel
@{
    Layout = "_Layout";
}
<form asp-action="Send" asp-controller="Advertisement" method="post">
    <input type="hidden" asp-for="@Model.AdvertismentId" />
    <div class="mb-3">
        
    </div>
</form>